
.skills-index {
    margin-bottom: 35px;
}

.skills h3 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px 25px;
    flex-wrap: wrap;
    padding: 15px 25px 0 55px;
}

.skills-container-down {
    display: flex;
    justify-content: flex-start;
    gap: 15px 25px;
    flex-wrap: wrap;
    padding: 15px 25px 0 15px;
} 

.skill-box{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1b1b;              
    border: 1px solid #242323;
    font-size: 12px;
    padding: 8px;
    border-radius: 14px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        color: #08f;
    }
}

.skill-box i {
    background-color: transparent;
    color: #08f;
    font-size: 50px;
}